<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/mojocss"></script>
    <title>Admin</title>
</head>

<body>
    <main>

        <form method="POST" action="{{url_for('logout')}}">
            <button>
                Logout
            </button>
        </form>