<section id="user_section" class="w-full">
    <div class="d-flex flex-col gap-10 pa-5 a-items-center" md="flex-row">
        <img src="{{url_for('static', filename='avatars/' + user.user_avatar)}}" alt="Profile picture" class="max-w-96 rounded-full">

        <div>
            <h2>Hi <span class="text-c-blue">{{user.user_name}} {{user.user_last_name}}</span></h2>
            <p>
                See your account details, your profile picture and change them if needed
            </p>

        </div>
    </div>
    <div class="d-grid gap-5 pa-5" sm="cols-2">

        <p class="border-b-1 border-c-blue">{{user.user_name}}</p>
        <p class="border-b-1 border-c-blue">{{user.user_last_name}}</p>
        <p class="border-b-1 border-c-blue">{{user.user_email}}</p>
        <p class="border-b-1 border-c-blue">Role:
            {% if "partner" in user.get("roles") %}
            partner
            {% elif "restaurant" in user.get("roles") %}
            restaurant
            {% elif "admin" in user.get("roles") %}
            admin
            {% else %}
            customer
            {% endif %}
        </p>
    </div>

</section>