{% include "_top.html" %}
<div class="d-grid cols-1 ">
    <img class="c-start-1 c-end-1 r-start-1 r-end-4 w-full h-fullvh obj-f-cover" src="{{url_for('static', filename="images/front_hero.webp")}}" alt="">
    <div class="c-start-1 c-end-1 r-start-2 r-end-2 pa-10">
        
        <h1 class="text-w-bold text-300">Welcome to WWWolt</h1>
        <h2 class="text-w-semibold mb-5 text-230">Hope you're hungry!</h2>
        <a href="/restaurants" class="bg-c-blue:+1 text-c-blue:+40 pa-3 rounded-3 text-w-semibold text-150">Browse!</a>

    </div>
</div>
{% include "_footer.html" %}
