{% include "_top.html" %}

{% include "_user_info.html" %}


<div class="d-flex flex-wrap w-fit-content gap-2 ma-auto" md="ma-5">


    <a class="text-c-white pa-5 rounded-sm bg-c-blue:+1 w-fit-content" href="/admin/users">See all users</a>
    <a class="text-c-white pa-5 rounded-sm bg-c-blue:+1 w-fit-content" href="/admin/items">See all items</a>
    <a class="text-c-white pa-5 rounded-sm bg-c-gray w-fit-content" href="/edit-profile">Edit profile</a>
    <a class="text-c-white pa-5 rounded-sm bg-c-red:+1 w-fit-content" href="/profile/delete">Delete profile</a>
</div>

{% include "_footer.html" %}