{% include "_top.html" %}

<main class="w-full px-5">
    <img src="{{ url_for('static', filename='dishes/' + restaurant_user.restaurant_info_restaurant_image) }}" class="w-full h-100 obj-f-cover" alt="">


<h1>Restaurant: {{restaurant_user.restaurant_info_restaurant_name}}</h1>

<ul class="d-grid gap-x-5 gap-y-15 cols-2 list-style-none mt-20" lg="cols-4">
    {% for item in restaurant_items %}
     <a href="/item/{{item.item_pk}}?image={{item.item_image}}" class="w-full h-full">
                    <div class="shadow-sm w-full h-full rounded-2 ts-200 d-flex j-content-between a-items-end pa-2" hover="shadow-md scale-102">
                       
                        <div>
                            <p class="text-c-black">{{item.item_title}}</p>
                            <p class="text-c-black">${{item.item_price}}</p>
                        </div>
                         <img src="{{ url_for('static', filename='dishes/' + item.item_image) }}"
                            class="w-20 h-25 obj-f-cover rounded-2" sm="w-25" alt="">
                    </div>
                </a>
    
    {% endfor %}
</ul>
</main>

{% include "_footer.html" %}