{% include "_top.html" %}

<main class="w-full h-100vh d-flex p-items-center">
    <form id="frm_forgot_password" class="w-50% d-flex flex-col gap-4 mx-auto">
        <h1 class="text-a-center">Forgot Password</h1>

        <p>Please enter your email address to reset your password.</p>

        <div class="d-flex flex-col">
            <label for="user_email">
                <span>Email Address</span>
            </label>
            <input name="user_email" type="email" required mix-check="{{ x.REGEX_EMAIL }}">
        </div>

        <button mix-data="#frm_forgot_password" mix-post="/forgot-password/" type="submit" class="cursor-pointer">Reset
            Password</button>
    </form>
</main>

{% include "_footer.html" %}